@font-face {
  font-family: "entypo";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-90/entypo.woff")
    format("woff");
}

.products {
  width: 85%;
  position: relative;
  bottom: 5rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 36rem;
  overflow: scroll;
  .Product-Card {
    width: 20%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    .card-image {
      position: relative;
      width: 80%;
      height: 24rem;
      object-fit: cover;
      margin-bottom: 0.3rem;
    }
    .card-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
    p {
      font-size: 1rem;
      font-weight: 400;
      padding: 0;
      padding-top: 0.3rem;
      margin-top: 0.2rem;
    }
    .hoverView {
      position: absolute;
      color: #fff;
      background-color: rgba($color: #8256f0, $alpha: 0.7);
      width: 100%;
      right: 2.8%;
      text-align: center;
      top: 90%;
      height: 13%;
      font-size: 1.2rem;
    }
    .entypo-heart:before {
      content: "\2665";
    }
    [class*="entypo-"]:before {
      font-family: 'entypo', sans-serif;
      color: grey;
      position: absolute;
      right: 7%;
      top: 5%;
      font-size: 1.5rem;
    }
    .entypo-heart-selected:before {
      content: "\2665";
    }
    [class*="entypo-heart-selected"]:before {
      font-family: 'entypo', sans-serif;
      color: red;
      position: absolute;
      right: 7%;
      top: 5%;
      font-size: 1.5rem;
    }
    .crossedOut {
      text-decoration: line-through;
      color: rgba(72, 72, 72, 0.837);
    }
    .mainprice {
      text-decoration: none;
      font-size: 1.2rem;
      color: #8561df;
      margin-left: 0.2rem;
    }
    .product-price {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 2rem;
    }
  }
}
