.search {
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    &:nth-child(1) {
      width: 4%;
      height: 4%;
      position: absolute;
      right: 3%;
      top: 3%;
    }
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .search-img-original {
    width: 3%;
    height: 6%;
    position: absolute;
    top: 21%;
    right: 21%;
  }
  .search-img-searched {
    width: 3%;
    height: 6%;
    position: absolute;
    top: 11%;
    right: 21%;
  }
  .search-bar-original {
    width: 60%;
    height: 4rem;
    border-radius: 16px;
    border: none;
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top: 20%;
    left: 20%;
    font-size: 1.5rem;
    font-family: sans-serif;
    text-indent: 2rem;
    top: 20%;
    left: 20%;
    transition: top 0.5s;
  }
  .search-bar-searched {
    width: 60%;
    height: 4rem;
    border-radius: 16px;
    border: none;
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top: 20%;
    left: 20%;
    font-size: 1.5rem;
    font-family: sans-serif;
    text-indent: 2rem;
    top: 10%;
  }
  input:focus {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .fade-enter {
    opacity: 0;
    transform: translateX(-100%);
  }

  .fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }

  .fade-exit {
    opacity: 1;
    transform: translateX(0);
  }

  .fade-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 300ms, transform 300ms;
  }
}
